@import '../../app-components/sass/variables.scss';
nav {}

.Navigation {
    background-color: $primary-background;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    li {
        display: inline-block;
        position: relative;
        section {
            display: none;
            min-width: calc(100% + 2px);
            padding-top: 41px;
            position: absolute;
            top: 0;
            transform: translateX(-1px);
            z-index: 1;
        }
        ul {
            border: solid 1px;
            border-top: none;
            li {
                display: block;
            }
        }
        a {
            &:not(.active){
                color: white;
            }
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            &.active{
                background-color: white;
            }
        }
        &:hover {
            background-color: white;
            section {
                display: block;
            }
            a {
                color: black;
                &:not(.active) {
                    background-color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}